{% extends 'base.html' %} {% block title %}Adopt a Pet{% endblock %} {% block
content%}
<h1>Our Pets</h1>

{% for msg in get_flashed_messages()%}
<p>{{msg}}</p>
{% endfor %}
<div class = "row pets-listing"></div>
<ul>
  {% for pet in pets %}
  <li>
    <a href="{{pet.id}}"
      >{{ pet.name }} <img class= "petImage" src="{{pet.photo_url}}"/> </a
    >
    {% if pet.available %}<b> is available</b> {% endif %}
  </li>
  {% endfor %}
</ul>
</div>
<a href="/pets/add" class="btn btn-success">Add a Pet</a>
{% endblock %}
